* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #000;
}

h1 {
  text-transform: uppercase;
  font-size: 24px;
  margin: 0;
}

p {
  margin-bottom: 0;
}

/* Página Home */

.dobra-1 {
  background-image: url("./assets/foto.png");
  height: 1100px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: visible;
  z-index: 100;
}

.dobra-2 {
  background-image: url("./assets/bg-dobra-2.png");
  height: 1218px;
  background-repeat: no-repeat;
  background-size: contain;
  color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  overflow: visible;
  margin-top: -250px;
}

.dobra-2:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  background-image: url("./assets/wave-bg.png");
  height: 320px;
  background-size: cover;
}

.dobra-3 {
  background-color: #f6f6f6;
  position: relative;
}

.dobra-4 {
  background-image: url("./assets/dobra-4-bg.png");
  height: 870px;
  background-color: #f6f6f6;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 15px;
  position: relative;
}

.container header {
  display: flex;
  color: #fff;
  justify-content: space-between;
  align-items: center;
}

.container header .logo {
  position: relative;
}

.container header .logo h1 {
  margin-left: 48px;
}

header .logo svg {
  position: absolute;
  top: 3px;
  font-size: 24px;
  cursor: pointer;
  color: #575147;
}

.main-text {
  color: #fff;
  text-align: left;
  position: absolute;
  right: 290px;
  top: 400px;
  font-size: 32px;
  font-weight: 300;
}

.main-text .cta p {
  padding: 0 16px;
  margin: 0;
}

.main-text button {
  text-transform: uppercase;
  border: none;
  background-color: #ff4343;
  border-radius: 50px;
  padding: 14px;
  color: #fff;
  font-size: 14px;
  margin-top: 16px;
}

.border-applied {
  border-left: 1px solid #ff4343;
}

.text-container {
  margin-left: 200px;
}

.dobra2-main-text p {
  padding: 0 16px;
  margin: 0;
  font-size: 32px;
  font-weight: 300;
}

.dobra2-sub-text {
  padding: 32px 64px;
  font-weight: 300;
}

.dobra2-main-text.white p {
  color: #fff;
}

.dobra2-sub-text.white {
  color: #fff;
}

.dobra2-sub-text a {
  display: inline-block;
  text-decoration: none;
  color: #ff4343;
  margin-top: 32px;
}

.dobra-3 div.text-container {
  padding-top: 64px;
}

button {
  text-transform: uppercase;
  border: none;
  background-color: #ff4343;
  border-radius: 50px;
  padding: 14px;
  color: #fff;
  font-size: 14px;
  margin-top: 16px;
}

.books-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  padding: 64px 16px;
  padding-top: 120px;
  gap: 16px;
}

.book {
  display: flex;
  align-items: center;
  padding: 64px;
  background-color: #fff;
}

.book img {
  height: 360px;
}

.caroussel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.caroussel svg {
  margin: 0 2px;
  color: #fff;
  cursor: pointer;
}

.caroussel svg:first-child {
  margin: 0 2px;
  color: #ff4343;
}

footer {
  height: 120px;
  display: flex;
  align-items: center;
}

footer .container {
  padding: 0;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .dobra-1 {
    background-image: url("./assets/mobile/dobra-1-bg.png");
    height: 1400px;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 100;
    margin-bottom: 80px;
  }

  .dobra-2 {
    background-image: url("./assets/mobile/dobra-2-bg\ \(3\).png");
    background-size: contain;
    color: #fff;
    position: relative;
    display: flex;
    height: 1600px;
    align-items: center;
    overflow: visible;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 130px;
  }

  .books-container {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    padding: 64px 16px;
    padding-top: 120px;
    gap: 16px;
  }

  .book {
    display: flex;
    align-items: center;
    padding: 64px 128px;
    background-color: #fff;
  }

  .container {
    max-width: 600px;
  }

  .main-text {
    right: 10px;
    top: 270px;
  }

  .text-container {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .dobra-1 {
    background-image: url("./assets/mobile/dobra-1-bg.png");
    height: 2000px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100;
    margin-bottom: 350px;
  }

  .dobra-2 {
    background-image: url("./assets/mobile/dobra-2-bg\ \(3\).png");
    background-size: cover;
    color: #fff;
    position: relative;
    display: flex;
    height: 1800px;
    align-items: center;
    overflow: visible;
    justify-content: flex-start;
    flex-direction: column;
  }

  .dobra-4 {
    background-image: url("./assets/mobile/dobra-4-test.png");
    height: 870px;
    background-color: #f6f6f6;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .text-container {
    margin-left: 60px;
    margin-top: 150px;
  }

  p {
    font-weight: normal;
    margin-bottom: 0;
  }

  .dobra-3 div.text-container {
    margin-top: 0;
    padding-top: 0;
  }

  .main-text {
    right: 15px;
    top: 500px;
  }

  .books-container {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    padding: 64px 16px;
    padding-top: 120px;
    gap: 16px;
  }

  .book {
    display: flex;
    align-items: center;
    padding: 64px 128px;
    background-color: #fff;
  }

  .container {
    max-width: 740px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1366px) {
  .dobra-1 {
    height: 900px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: visible;
    z-index: 100;
  }

  p {
    font-weight: normal;
    margin-bottom: 0;
  }

  .dobra-4 {
    height: 720px;
    background-color: #f6f6f6;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -1px;
  }
  .container {
    max-width: 1100px;
  }

  .main-text {
    right: 154px;
    top: 290px;
  }

  .books-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding: 64px 16px;
    padding-top: 120px;
    gap: 16px;
  }

  .book {
    display: flex;
    align-items: center;
    padding: 64px 128px;
    background-color: #fff;
  }
}

@media screen and (min-width: 1367px) and (max-width: 1500px) {
  .books-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding: 64px 16px;
    padding-top: 120px;
    gap: 16px;
  }

  .book {
    display: flex;
    align-items: center;
    padding: 64px 128px;
    background-color: #fff;
  }

  p {
    font-weight: normal;
    margin-bottom: 0;
  }
}

/* Fim da página home */

/* Página About */

.about-dobra-1 {
  background-image: url("./assets/about/about-bg.png");
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-dobra-1:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  background-image: url("./assets/about/about-dobra2-bg.png");
  height: 314px;
  background-size: cover;
  background-position: top center;
}

.about-dobra-2 {
  background: #f6f6f6;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -1px;
}

.about-dobra-2 .about-text {
  max-width: 600px;
}

.about-main-text {
  color: #fff;
  text-align: left;
  position: absolute;
  right: 290px;
  top: 400px;
  font-size: 32px;
  font-weight: 300;
}

.about-main-text .cta p {
  padding: 0 16px;
  margin: 0;
}

.about-main-text .cta p:last-child {
  font-size: 16px;
  font-weight: 300;
}

@media screen and (min-width: 1367px) and (max-width: 1500px) {
  .about-main-text {
    right: 250px;
    top: 230px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1366px) {
  .about-dobra-1 {
    background-image: url("./assets/about/about-bg.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .about-dobra-1:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    background-image: url("./assets/about/about-dobra2-bg.png");
    height: 300px;
    background-size: cover;
    background-position: top center;
  }

  .about-main-text {
    right: 0px;
    top: 230px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .about-main-text {
    top: 150px;
    left: 100px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .about-main-text {
    top: 150px;
    left: 100px;
  }
}

/* Fim da página about */

/* Página de contato */

.contato-dobra-1 {
  background-image: url("./assets/contato/contato-dobra-1-bg.png");
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.contato-dobra-1:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  background-image: url("./assets/about/about-dobra2-bg.png");
  height: 314px;
  background-size: cover;
  background-position: top center;
}

.contato-dobra-2 {
  background: #f6f6f6;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -150px;
  margin-top: -1px;
}

.dobra2-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
}

.dobra2-form-container input {
  margin: 8px 0;
  padding: 32px;
  border: none;
  outline: none;
  border-radius: 50px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 450px;
}

.dobra2-form-container textarea {
  margin: 8px 0;
  padding: 64px 32px;
  border: none;
  outline: none;
  border-radius: 70px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  width: 450px;
  text-align: center;
}

.dobra2-form-container input:last-child {
  padding: 64px 32px;
}

.dobra2-form-container input::placeholder {
  text-align: center;
}

.dobra2-form-container button {
  padding: 16px 128px;
} 
