h1 {
    font: 24px sans-serif;
}

.bar {
    fill: #3f1cd8;
    transition: 0.5s;
}

.bar:hover {
    fill: #2d12a5;
}
  
.axis {
    font: 10px sans-serif;
}
  
.axis path,
.axis line {
    fill: none;
    stroke: #000;
}