* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body, h1, h2, p, ul, li, a {
	margin: 0px;
	padding: 0px;
}

a, a:visited, a:active {
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #222222;
}

ul {
	list-style: none;
}

img {
	display: block;
	max-width: 100%;
}

.super-bg {
  min-width: 100%;
  background-color: #122ab2;
  color: white;
}

.super-bg a {
  color: white;
}

.super-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
  flex-wrap: wrap;
  padding-top: 8px;
}

.super-info p, .super-info a {
  margin: 0 8px 8px 8px;
}

.menu-bg {
  min-width: 100%;
  background-color: #2c70ff;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
  padding: 16px 0;
}

.menu a {
  color: white;
}

.logo a {
  font-size: 2.25rem;
  margin: 0 15px;
  font-weight: bold;
}

.links ul {
  display: flex;
  flex-wrap: wrap;
}

.links a {
  font-size: 1rem;
  display: block;
  padding: 8px;
}

.links a:hover {
  color: #122ab2;
  transition: color 300ms ease-in-out;
}

.hello {
  margin: 0 auto;
  max-width: 960px;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1;
  padding: 60px 10px;
}

.about {
  border-top: 1px solid #122ab2;
  border-bottom: 1px solid #122ab2;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  flex-wrap: wrap;
}

.about-info {
  flex: 2 1 300px;
  margin: 0 10px;
}

.about-info h1 {
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.about-info p {
  font-size: 1rem;
  line-height: 2;
  color: #7c7c7c;
}

.about-img {
  flex: 1 1 160px;
  margin: 0 10px;
  padding-top: 10px;
}

.products {
  max-width: 960px;
  margin: 60px auto;
}

.products h1 {
  font-size: 3rem;
  margin: 0 10px 60px 10px;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.products-item {
  flex: 1 1 175px;
  margin: 10px;
}

.products-item h2 {
  font-size: 3rem;
  color: #a4a4a4;
  background: #f7f7f7;
  padding: 60px 20px;
}

.purple {
  border-top: 4px solid #ae81ff;
}

.pink {
  border-top: 4px solid #f9265e;
}

.blue {
  border-top: 4px solid #66d9eb;
}

.price {
  background-color: #f7f7f7;
  padding: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.item-price {
  flex: 1 1 260px;
  border: 4px solid white;
  padding: 20px;
  margin: 10px;
}

.item-price h2 {
  font-size: 3rem;
  color: #a4a4a4;
  text-align: center;
  margin-top: 20px;
}

.item-price span {
  max-width: 300px;
  margin: 20px auto;
  display: block;
  font-size: 3em;
  text-align: center;
  font-weight: bold;
  padding: 10px 0  5px 0;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.item-price sup {
  font-size: 1.5rem;
}

.item-price ul {
  max-width: 300px;
  margin: 20px auto;
  font-size: 1.125em;
  font-style: italic;
  color: #7c7c7c;
}

.item-price li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.item-price li::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #2c70ff;
}

.item-price a {
  display: block;
  margin: 20px auto;
  padding: 16px 0;
  text-align: center;
  color: #222222;
  border: 2px solid;
  max-width: 300px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
}

.quality {
  max-width: 960px;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
}

.quality-item {
  flex: 1 1 300px;
  margin: 20px 10px;
}

.quality-item h2 {
  font-size: 2.5em;
  color: #a4a4a4;
  margin-bottom: 20px;
}

.quality-item h2::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 28px;
  margin-right: 8px;
  background-color: #122ab2;
}

.quality-item:nth-last-of-type(3n+1) h2::before {
  background-color: #ae81ff;
}

.quality-item:nth-last-of-type(3n+2) h2::before {
  background-color: #f9265e;
}

.quality-item:nth-last-of-type(3n+3) h2::before {
  background-color: #66d9eb;
}

.quality-item p {
  font-size: 1.125rem;
  line-height: 1.5;
  color: #7c7c7c;
}

.newsletter {
  background-color: #f7f7f7;
  padding: 60px calc((100% - 960px) / 2);
  display: flex;
  flex-wrap: wrap;
}

.newsletter-info {
  flex: 1 1 200px;
  margin: 0 10px;
}

.newsletter-info h1 {
  color: #a4a4a4;
  font-size: 3rem;
}

.newsletter-info p {
  font-style: italic;
  font-size: 1.125rem;
  max-width: 200px;
  color: #7c7c7c;
  margin-bottom: 24px;
}

.newsletter-form {
  flex: 2 1 260px;
  margin: 0 10px;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
}

.newsletter-form input {
  flex: 3 1 200px;
  font-size: 1.125rem;
  color: #7c7c7c;
  font-style: italic;
  font-family: 'Poppins', sans-serif;
  border: 4px solid #2c70ff;
  background-color: transparent;
  padding: 16px;
  margin: 0px;
  border-radius: 0px;
}

.newsletter-form button {
  flex: 1 1 180px;
  font-family: 'Poppins', sans-serif;
  font-size: 2.25rem;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #2c70ff;
  color: white;
  cursor: pointer;
  border: none;
  padding: 16px 10px;
}

.footer {
  height: 64px;
  background-color: #2c70ff;
  color: white;
  display: flex;
  align-items: center;
}
.footer p {
  flex: 1;
  text-align: center;
  font-size: 1.3rem;
  color: #122ab2;
}

@media (max-width: 800px) {
  .price {
    padding: 0 10px;
  }

  .price .item-price:nth-child(3) {
    order: -2;
  }

  .price .item-price:nth-child(2) {
    order: -1;
  }
}

@media (max-width: 600px) {
  .newsletter-form button {
    font-size: 1.3rem;
  }
}